@model Treat

<form method="post" class="form">

	<h2>Treat Name</h2>
	<input asp-for="Name" class="form-control"/>
	<span asp-validation-for="Name"></span>

	<h2>Treat Description</h2>
	<input asp-for="Description" class="form-control" />
	<span asp-validation-for="Description"></span>

	<h2>Price</h2>
	<input asp-for="Price" class="form-control" />
	<span asp-validation-for="Price"></span>

	<input type="submit" value="Create" class="btn btn-primary mt-3"/>

</form>
